* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: top center;
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}
.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  left: 15%;
  position: relative;
  margin-top: 15vh;
  width: 70%;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(4px);
  border-radius: 40px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}
header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0);
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #3c3c3c;
  text-align: center;
}
header input:focus {

  border: 1px solid rgba(255, 255, 255, 1);
}
/* header input::placeholder {
  color: rgba(255,255,255,0.6);
} */
main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.location .city {
  color: #eeeeee;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}
.location .date {
  color: #eeeeee;
  font-size: 16px;
}
.current .temp {
  color: #eeeeee;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}
.current .temp span {
  font-weight: 200;
}
.current .weather {
  color: #eeeeee;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0 3px rgba(0, 0, 0, 0.4);
}
.current .hi-low {
  color: #eeeeee;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0 3px rgba(0, 0, 0, 0.4);
}
